body, html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

@font-face {
    font-family: lato-black;
    src: url("fonts/Lato/Lato-Black.ttf");
}

@font-face {
    font-family: lato-bold;
    src: url("fonts/Lato/Lato-Bold.ttf");
}

@font-face {
    font-family: lato-italic;
    src: url("fonts/Lato/Lato-Italic.ttf");
}

@font-face {
    font-family: lato-bold-italic;
    src: url("fonts/Lato/Lato-BoldItalic.ttf");
}

.canvas-description-div {
    position: relative;
    opacity: 0.95;
    background-color: floralwhite;
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 13px;
    border-radius: 20px;
}

.canvas-div {
    width: 60%;
    top: 18%;
    left: 0.5%;
}

.description-div {
    width: 35%;
    /*height: 59.3%;*/
    top: -44.5%;
    left: 62.7%;
}

.doughnut-div {
    width: 40%;
    padding: 1.5% 1% 1%;
    transform: translate(25%, -13%);
}

.doughnut-description-div {
    transform: translate(-24%, -30%);
}

.description {
    margin: 0;
    padding: 0 15px;
}

.description-title {
    font-family: lato-black, serif;
    font-size: 45px;
    letter-spacing: 1px;
    padding-top: 10px;
}

.description-subtitle {
    font-family: lato-italic, serif;
    font-size: 22px;
}

.description-para {
    font-family: lato-italic, serif;
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.title-text {
    font-size: 50px;
    color: azure;
    font-family: lato-black, serif;
}

.para-text {
    font-size: 23px;
    color: floralwhite;
    font-family: lato-italic, serif;
}

.center {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.center-bottom-home {
    text-align: center;
    margin: auto;
}

.center-bottom-other {
    text-align: center;
    position: relative;
    /*transform: translate(49%, -175%);*/
    top: 0%;
}

.center-bottom-doughnut {
    text-align: center;
    position: relative;
    top: -17%;
}

.down-button {
    color: white;
    font-size: 50px;
    text-decoration: none;
}

.home-image {
    background-image: url("media/la-la-land.jpg");
}

.background-image {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
